[DEFAULT]
#Default action for all jails. Just ban, no emails
action = %(action_)s
backend = systemd

# Ban hosts for one hour
bantime = 3600

[sshd]
enabled=true
maxretry = 10
# Period of time to find number of retries within
findtime = 600
#ban no email
action = %(action_)s
