[DEFAULT]

backend = systemd

# Ban hosts for one hour
bantime = 3600

mta = sendmail
destemail = {{ admin_email }}
sender = Fail2Ban-LIGO@cf.ac.uk
sendername = Fail2BanAlerts

[sshd]
enabled=true
maxretry = 5
# Period of time to find number of retries within
findtime = 600
#ban & send an e-mail with whois report to the destemail
action = %(action_mw)s
