ProxyPassReverse /accounting http://localhost:3000
<Location "/accounting">
    AuthType shibboleth
    ShibRequestSetting requireSession 1

    <RequireAll>
       require shib-session
       require shib-attr isMemberOf Communities:LSCVirgoLIGOGroupMembers
    </RequireAll>
    ProxyPass http://localhost:3000
</Location>
