# Partionable Slots
MEMORY = $(DETECTED_MEMORY)*2

NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1 = 100%
SLOT_TYPE_1_PARTITIONABLE = TRUE

START=RequestMemory < ( DetectedMemory/2 )

SLOT_WEIGHT = ifThenElse(Cpus >= Memory/2048, Cpus, Memory/2048)

DedicatedScheduler = "DedicatedScheduler@cl8.supercomputingwales.ac.uk"
