RESERVED_MEMORY = 2048

# Partionable Slots
SLOT_TYPE_1               = cpu=100%, mem=100%
SLOT_TYPE_1_PARTITIONABLE = True
NUM_SLOTS_TYPE_1          = 1

SLOT_WEIGHT = ifThenElse(Cpus >= Memory/2048, Cpus, Memory/2048)

DedicatedScheduler = "DedicatedScheduler@cl8.supercomputingwales.ac.uk"
