DAGMAN_MAX_PRE_SCRIPTS = 25
DAGMAN_MAX_POST_SCRIPTS = 25
DAGMAN_MAX_JOBS_SUBMITTED = 1000
DAGMAN_MAX_JOBS_IDLE = 50
DAGMAN_MAX_SUBMITS_PER_INTERVAL = 150
DAGMAN_USER_LOG_SCAN_INTERVAL = 2
DAGMAN_SUBMIT_DEPTH_FIRST = True

START_SCHEDULER_UNIVERSE = TotalSchedulerJobsRunning < 1000
MAX_RUNNING_SCHEDULER_JOBS_PER_OWNER = 100

DAGMAN_SUPPRESS_JOB_LOGS = True
DAGMAN_DEFAULT_NODE_LOG = /tmp/@(OWNER)/dag-logs/@(DAG_FILE)-@(CLUSTER).nodes.log
