DAGMAN_MAX_PRE_SCRIPTS = 25
DAGMAN_MAX_POST_SCRIPTS = 25
DAGMAN_MAX_JOBS_SUBMITTED = 4000
DAGMAN_MAX_JOBS_IDLE = 50
DAGMAN_MAX_SUBMITS_PER_INTERVAL = 150
DAGMAN_USER_LOG_SCAN_INTERVAL = 2
DAGMAN_SUBMIT_DEPTH_FIRST = True

START_SCHEDULER_UNIVERSE = TotalSchedulerJobsRunning < 1000
MAX_RUNNING_SCHEDULER_JOBS_PER_OWNER = 200

DAGMAN_CONDOR_SUBMIT_EXE=/usr/local/bin/condor_submit
