MAX_DEFAULT_LOG = 1Gb
MAX_SCHEDD_LOG  = 1Day
MAX_SHADOW_LOG  = 1Day

MAX_NUM_SCHEDD_LOG = 21
MAX_NUM_SHADOW_LOG = 21

ENABLE_HISTORY_ROTATION = True
ROTATE_HISTORY_DAILY    = True
MAX_HISTORY_LOG         = 1000000000
MAX_HISTORY_ROTATIONS   = 12
HISTORY_HELPER_MAX_HISTORY = 999999999
