# This makes PyCBC workflow jobs fail because /var/tmp is already mounted inside using mount tmp = yes config:
# FATAL:   container creation failed: mount ->/var/tmp/pycbc-tmp.sFRXCaf7Hg/work error: can't remount /var/tmp/pycbc-tmp.sFRXCaf7Hg/work: no such file or directory
# Singularity was not able to start "local" pegasus-transfer jobs.
# Either filter out jobs that start at /var/tmp. Then any Pegasus jobs will not be run under Singularity.
# Or make a symbolic link from /var/mytmp to /local? But don't really want to expose /local!
# Or change mount tmp = yes to no and remove /var/tmp from MOUNT_UNDER_SCRATCH
# 
#SINGULARITY_TARGET_DIR = /srv
#
#SINGULARITY_JOB = !isUndefined(TARGET.SingularityImage)
#SINGULARITY_IMAGE_EXPR = TARGET.SingularityImage
#
#SINGULARITY_BIND_EXPR = join(",", "/home", "/nfshome", "/scratch", "/apps", "/cvmfs" )
