#!/bin/bash
set -u

usage () {
    echo "$0: Update user's duc db entries"
    echo
    echo "Usage: $0 <command> where <command> is"
    echo "  active   - update active users (default)"
    echo "  inactive - update inactive users"
    echo "  all      - update all users"
    echo "  help     - show this help"

    exit
}


group=${1:-"active"}

if [ $# -gt 1 ] ; then
    usage
fi

case $group in
    "active") ;;
    "inactive") ;;
    "all") ;;
    *) usage
esac

directories=$( /root/bin/get_users $group | sort -uR )

startdate=$( date +"%m%d" )

echo All Directories - Randomised.
echo "$directories" | wc -l

echo Starting Duc DB Updates....
index=0
for directory in $directories; do
    index=$(( $index + 1 ))
    echo -n $index $directory $( date +"%F_%T" )" "

    /bin/time -f "%E" /bin/duc index -d /home/$directory/.duc.db /home/$directory

    chown $directory: /home/$directory/.duc.db
done

date
