#!/bin/sh

usage () {
    echo "$0: Get list of LIGO users from Hawk SCW LDAP"
    echo
    echo "Usage: $0 <command> where <command> is"
    echo "  active   - get active users (default)"
    echo "  inactive - get inactive users"
    echo "  all      - get all users"
    echo "  help     - show this help"

    exit
}

if [ $# -gt 1 ] ; then
    usage
fi

subcommand=${1:-"active"}
filter=""

case $subcommand in
    "active")
	filter='(!(loginShell=/usr/sbin/nologin))'
	;;
    "inactive")
	filter='(loginShell=/usr/sbin/nologin)'
	;;
    "all") ;;
    *) usage
esac

curl -sk ldaps://chldap.hawk.supercomputingwales.ac.uk/ou=LIGO,ou=Institutions,ou=Users,dc=supercomputingwales,dc=ac,dc=uk?uid?sub?$filter | grep "uid:" | cut -c 7-
