CVMFS_REPOSITORIES=ligo.egi.eu,oasis.opensciencegrid.org,ligo.osgstorage.org,singularity.opensciencegrid.org,ligo-containers.opensciencegrid.org
CVMFS_HTTP_PROXY="http://cvmfs-cache1.arcca.cf.ac.uk:3128|http://cvmfs-cache0.arcca.cf.ac.uk:3128"
CVMFS_QUOTA_LIMIT=25000
