# Super Computing Wales LDAP Server
# SCW LDAP uidNumbers
# 100,000,001- LIGO Users
# 100,040,000. CVMFS user
# 100,040,001- LIGO Shared Accounts

# 100,030,000- LIGO Personal Keytabs
# 100,040,001- LIGO Robots
# 100,050,001- 
# 100,060,000. Reserved
# 100,060,001- KAGRA

## General Parameters

RESHOW_WARNING_HOURS = 6

## Target Parameters

TARGET_CN = 'LIGO'
TARGET_OU = 'ou={},ou=Institutions'.format(TARGET_CN)
TARGET_USER_TREE = '{},ou=Users,dc=supercomputingwales,dc=ac,dc=uk'.format(TARGET_OU)

TARGET = {
    "SERVER" : 'ldaps://chldap.hawk.supercomputingwales.ac.uk',
    # "SERVER" : 'ldaps://csn2.hawk.supercomputingwales.ac.uk', # This suffers from a 500 entity limit
    "USER" : None,
    "PASSWORD" : None,
    "USER_TREE" : TARGET_USER_TREE,
    "USER_QUERY" : '(&(objectclass=inetOrgPerson)(objectclass=posixAccount))',
}

TARGET_USER_ATTRIBUTES = ['uid',
                       'cn',
                       'sn',
                       'objectClass',
                       'givenName',
                       'displayName',
                       #'sshPublicKey', Currently unsupported
                       'loginShell',
                       'mail',
                       'homeDirectory',
                       'uidNumber',
                       'gidNumber',
    ]

TARGET_PRIMARY_KEY = "uidNumber"

# Where the LIGO range starts in SCW LDAP
TARGET_UID_OFFSET = 100_000_000

TARGET_USER_PROTECTED_ATTRIBUTES = set(['uid', 'cn'])

TARGET_USER_OBJECT_CLASSES = ['inetOrgPerson', 'posixAccount']
TARGET_USER_DN = "cn={{cn}},{}".format(TARGET_USER_TREE)

TARGET_GROUP_OBJECT_CLASSES = ['posixGroup']
TARGET_PRIVATE_GROUP_DN = "cn={{cn}},{},ou=PrivateGroups,ou=Groups,dc=supercomputingwales,dc=ac,dc=uk".format(TARGET_OU)

TARGET_GENERAL_GROUPS = [
    'cn={},ou=Institutions,ou=Groups,dc=supercomputingwales,dc=ac,dc=uk'.format(TARGET_CN),
    # Users are not added to the SCW "LIGO Operations" Group (SCW1158)
    # 'cn=scw1158,ou=Category3,ou=Projects,ou=Groups,dc=supercomputingwales,dc=ac,dc=uk',
]


## Sources

# LIGO LDAP uidNumbers
#  40,001- People (employeeNumber + 40,000)
#  70,000- Personal Keytab
#  80,001- Robot 
#  90,000- Shared Accounts
# 100,000. IGWN Group
# 100,001- Reserved

def ligo_map_uid_number(entry):
    return int(entry.uidNumber.value) + TARGET_UID_OFFSET - 40_000

def ligo_objectClasses(entry):
    if int(entry.uidNumber.value) < 80_000:
        # Normal user
        return TARGET_USER_OBJECT_CLASSES
    else:
        # Robot user
        return ['posixAccount', 'account']

LIGO = {
    "SERVER" : 'ldaps://ldap.ligo.org',
    "USER" : None,
    "PASSWORD" : None,
    "USER_TREE" : 'ou=people,dc=ligo,dc=org',
    "USER_QUERY" : '(&(objectclass=person)(objectclass=posixAccount)(isMemberOf=Communities:LSCVirgoLIGOGroupMembers)(isMemberOf=Communities:LVC:LSC:LDG:CDF:LDGCDFUsers))',
    # Attribute key, or function taking entry as only argument
    "ATTRIBUTE_MAP" : {
        'displayName': 'cn',
        'cn': 'uid',
        'uidNumber': ligo_map_uid_number,
        'gidNumber' : ligo_map_uid_number,
        'objectClass' : ligo_objectClasses,
    }
}

# KAGRA

# KAGRA LDAP Uids
# 110100- People

def kagra_map_uid_number(entry):
    return int(entry.uidNumber.value) + 99939900

KAGRA = {
    "SERVER" : "ldaps://ldap.gw-astronomy.cilogon.org",
    "USER" : None,
    "PASSWORD" : None,
    "USER_TREE" : 'ou=people,o=KAGRA-LIGO,o=CO,dc=gwastronomy-data,dc=cgca,dc=uwm,dc=edu',
    "USER_QUERY" : '(&(objectclass=person)(objectclass=posixAccount)(isMemberOf=CO:members:active)(isMemberOf=CO:COU:LDG Grid Account Holders:members:active))',

    # Attribute key, function taking entry as only argument, or literal value
    "ATTRIBUTE_MAP" : {
        'displayName': 'cn',
        'cn': 'uid',
        'loginShell': "/bin/bash",
        'uidNumber': kagra_map_uid_number,
        'gidNumber' : kagra_map_uid_number,
        'objectClass' : lambda x: TARGET_USER_OBJECT_CLASSES,
    }
}

# Combine sources

SOURCES = {
    "ligo" : LIGO,
    "kagra": KAGRA,
}
