[domain/ligo.org]

autofs_provider = ldap
cache_credentials = True
ldap_search_base = ou=LIGO,ou=Institutions,ou=Users,dc=supercomputingwales,dc=ac,dc=uk?one??ou=LIGO,ou=Institutions,ou=PrivateGroups,ou=Groups,dc=supercomputingwales,dc=ac,dc=uk?one??cn=LIGO,ou=Institutions,ou=Groups,dc=supercomputingwales,dc=ac,dc=uk?base?
id_provider = ldap
ldap_uri = ldaps://csn2.hawk.supercomputingwales.ac.uk,ldaps://csn1.hawk.supercomputingwales.ac.uk

ldap_id_use_start_tls = True
ldap_tls_cacert = /etc/sssd/ca_ldaps.crt
ldap_tls_reqcert = demand
ldap_user_gecos = displayName
enumerate = True
ldap_purge_cache_timeout = 900
ldap_enumeration_refresh_timeout = 300

ldap_tls_cacertdir = /etc/openldap/cacerts

auth_provider = krb5
krb5_realm = LIGO.ORG
chpass_provider = none
