======================  WELCOME TO SCW CLUSTER: Hawk  ==========================

Welcome to ligo.gravity.cf.ac.uk. The LIGO Headnode to the SCW Hawk Cluster. If
you want to contact the admins, please write to: grav-it@astro.cf.ac.uk.

For more help and instructions please see the SCW LIGO userguide or maillist:

 https://gravity.astro.cf.ac.uk/dokuwiki/collaborations/lvc/supercomputingwales
 https://mailman.cf.ac.uk/mailman/listinfo/arcca-ligo-users

Web access to user directories is via https://ligo.gravity.cf.ac.uk/~USER/

  /home/USER/public_html/                UNPROTECTED
  /home/USER/public_html/LVC/            Restricted to LIGO and Virgo

Jupyter server can be found at https://ligo.gravity.cf.ac.uk/jupyter/

--------------------------------------------------------------------------------

All articles that derive from work performed on this cluster should acknowledge
STFC grant ST/I006285/1 or the following text:

We are grateful for computational resources provided by Cardiff University, and
funded by an STFC grant supporting UK Involvement in the Operation of Advanced
LIGO.

--------------------------------------------------------------------------------
