====== Welcome to the UK LIGO Hawk Cluster, Super Computing Wales, Cardiff =====

Email support:                 cardiff-igwn-cluster-help@cf.onmicrosoft.com
Documentation:                 https://ligo.gravity.cf.ac.uk/support/
LVC authenticated user space:  https://ligo.gravity.cf.ac.uk/~USER/
Jupyter server:                https://ligo.gravity.cf.ac.uk/jupyter/
Diskusage breakdown:           https://ligo.gravity.cf.ac.uk/diskusage/

--------------------------------------------------------------------------------

All articles that derive from work performed on this cluster should acknowledge
STFC grant ST/I006285/1 or the following text:

We are grateful for computational resources provided by Cardiff University, and
funded by an STFC grant supporting UK Involvement in the Operation of Advanced
LIGO.

--------------------------------------------------------------------------------
