Alias /ldg-reports/ "/var/www/ldg-reports/"

<Directory "/var/www/ldg-reports">
    Options Indexes MultiViews FollowSymLinks
    AuthType shibboleth

    ShibRequestSetting requireSession 1
    # Allow unauthenticated requests from LIGO Caltech nodes
    Require host ligo.caltech.edu
    Require shib-session
</Directory>
