Alias /ldg-reports/ "/var/www/ldg-reports/"

<Directory "/var/www/ldg-reports">
    Options Indexes MultiViews FollowSymLinks
    AuthType shibboleth

    ShibRequestSetting requireSession 1
    # Default to LIGO IdP to enable central accounting robot to login
    ShibRequestSetting entityID https://login.ligo.org/idp/shibboleth
    Require shib-session
</Directory>
