<IfModule mod_userdir.c>
    UserDir disabled root
    UserDir public_html
</IfModule>

<Directory "/home/*/public_html">
    AllowOverride FileInfo AuthConfig Limit Indexes
    Options MultiViews Indexes FollowSymLinks IncludesNoExec
    IndexOptions NameWidth=*
    Require method GET POST OPTIONS
</Directory>


<Directory "/home/*/public_html">
  AuthType shibboleth
  ShibRequestSetting requireSession 1

  <RequireAll>
     Require shib-session
     <RequireAny>
       Require shib-attr isMemberOf Communities:LSCVirgoLIGOGroupMembers
       Require shib-attr isMemberOf gw-astronomy:KAGRA-LIGO:members
     </RequireAny>
  </RequireAll>
</Directory>
