<SPConfig xmlns="urn:mace:shibboleth:3.0:native:sp:config"
    xmlns:conf="urn:mace:shibboleth:3.0:native:sp:config"
    xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion"
    xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol"    
    xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"
    clockSkew="180">

    <ApplicationDefaults entityID="{{ shibboleth_entityid }}"
                         REMOTE_USER="krbPrincipalName eduPersonPrincipalName">

           <Sessions lifetime="86400" timeout="21600" checkAddress="false" relayState="ss:mem"
                relayStateLimit="exact" postData="ss:mem" postTemplate="/etc/shibboleth/wikiPost.html"
                cookieProps="; path=/; secure" consistentAddress="false">

            <SSO discoveryProtocol="SAMLDS"
                 discoveryURL="https://ligo.gravity.cf.ac.uk/shibboleth-ds/index.html"
                 isDefault="true">
              SAML2
            </SSO>
            <!-- Uncomment this for LIGO Login only
            <SSO entityID="https://login.ligo.org/idp/shibboleth" ECP="true">
              SAML2
            </SSO>
            -->

            <!-- <Logout asynchronous="false">SAML2</Logout> -->
            <Logout>SAML2 Local</Logout>

            <Handler type="MetadataGenerator" Location="/Metadata" signing="false"/>

            <Handler type="Status" Location="/Status" acl="127.0.0.1"/>

            <Handler type="Session" Location="/Session" showAttributeValues="false"/>

            <Handler type="DiscoveryFeed" Location="/DiscoFeed"/>
        </Sessions>

        <Errors supportContact="rt-auth@ligo.org"
            logoLocation="/shibboleth-sp/logo.jpg"
            styleSheet="/shibboleth-sp/main.css"/>

        <MetadataProvider type="Chaining">
            <MetadataProvider type="XML" url="https://s3-us-west-2.amazonaws.com/liam-saml-metadata/ligo-metadata.xml"
		backingFilePath="/var/log/shibboleth/ligo-metadata.xml" reloadInterval="82800" >
		<MetadataFilter type="Signature" certificate="/etc/shibboleth/login.ligo.org.cert.LIGOCA.pem"/>
	    </MetadataProvider>
            <MetadataProvider type="XML" url="https://s3-us-west-2.amazonaws.com/liam-saml-metadata/devtest-ligo-metadata.xml"
		backingFilePath="/var/log/shibboleth/devtest-ligo-metadata.xml" reloadInterval="82800" >
		<MetadataFilter type="Signature" certificate="/etc/shibboleth/login.ligo.org.cert.LIGOCA.pem"/>
	    </MetadataProvider>
<!--
            <MetadataProvider type="XML" path="/etc/shibboleth/ligo-metadata-login-test.xml" />
            <MetadataProvider type="XML" path="/etc/shibboleth/ligo-metadata-login-dev.xml" />
-->
        </MetadataProvider>

	<!-- getting the metadata feed including KAGRA -->
        <MetadataProvider type="XML" url="https://liam-saml-metadata.s3.amazonaws.com/ligo-approved-idp-none.xml"
          backingFilePath="/var/log/shibboleth/ligo-approved-idp-none.xml" reloadInterval="82800"
          legacyOrgNames="true" >
            <MetadataFilter type="Signature" certificate="/etc/shibboleth/login.ligo.org.cert.LIGOCA.pem"/>
            <MetadataFilter type="Whitelist">
             <Include>https://shibbi.pki.itc.u-tokyo.ac.jp/idp/shibboleth</Include>
	     <Include>https://aa.gw-astronomy.org/aa/shibboleth</Include>
           </MetadataFilter>
         </MetadataProvider>
        
        <AttributeExtractor type="XML" validate="true" path="attribute-map.xml"/>

        <!-- try to add isMemberOf from AA -->
        <AttributeResolver type="SimpleAggregation" attributeId="eduPersonPrincipalName"
          format="urn:oid:1.3.6.1.4.1.5923.1.1.1.6">
          <Entity>https://aa.gw-astronomy.org/aa/shibboleth</Entity>
          <AttributeExtractor type="XML">
          <Attributes xmlns="urn:mace:shibboleth:2.0:attribute-map" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <Attribute name="urn:oid:1.3.6.1.4.1.5923.1.5.1.1" id="isMemberOf"/>
          </Attributes>
        </AttributeExtractor></AttributeResolver>
        
        <AttributeResolver type="Query" subjectMatch="true"/>

        <AttributeFilter type="XML" validate="true" path="attribute-policy.xml"/>

        <CredentialResolver type="File" key="sp-key.pem" certificate="sp-cert.pem"/>


    </ApplicationDefaults>
    
    <SecurityPolicyProvider type="XML" validate="true" path="security-policy.xml"/>

    <ProtocolProvider type="XML" validate="true" reloadChanges="false" path="protocols.xml"/>

</SPConfig>
