JOB_TRANSFORM_NAMES = $(JOB_TRANSFORM_NAMES) TagJob RemoveAcctGroup

JOB_TRANSFORM_TagJob @=end
[
  COPY_AcctGroup = "LigoSearchTag";
    COPY_AcctGroupUser = "LigoSearchUser";
      EVAL_SET_LigoSearchTag = LigoSearchTag ?: "None";
        EVAL_SET_LigoSearchUser = LigoSearchUser ?: Owner;
	]
	@end

# do not strip accounting classads from scheduler universe
# because their presence is necessary to propagate to child
# jobs and sub-DAGs
JOB_TRANSFORM_RemoveAcctGroup @=end
[
Requirements = JobUniverse != 7;
delete_AccountingGroup = True;
delete_AcctGroup = True;
delete_AcctGroupUser = True;
]
@end

SCHEDD_CLASSAD_USER_MAP_NAMES = $(SCHEDD_CLASSAD_USER_MAP_NAMES) ValidSearchTags ValidSearchUsers
CLASSAD_USER_MAPFILE_ValidSearchTags = /etc/condor/accounting/valid_tags
CLASSAD_USER_MAPFILE_ValidSearchUsers = /etc/condor/accounting/valid_users

SUBMIT_REQUIREMENT_NAMES = $(SUBMIT_REQUIREMENT_NAMES) ValidateSearchTag ValidateSearchUser

SUBMIT_REQUIREMENT_ValidateSearchTag = JobUniverse == 7 || \
  userMap("ValidSearchTags",LigoSearchTag) isnt undefined
  SUBMIT_REQUIREMENT_ValidateSearchTag_REASON = \
    strcat("Invalid value for search tag: ",LigoSearchTag ?: "<undefined>")

SUBMIT_REQUIREMENT_ValidateSearchUser = \
  JobUniverse == 7 || \
    userMap("ValidSearchUsers",Owner,LigoSearchUser) is LigoSearchUser || \
      userMap("ValidSearchUsers",Owner) is undefined && Owner =?= LigoSearchUser
      SUBMIT_REQUIREMENT_ValidateSearchUser_REASON = \
        strcat("Invalid value for search user: ", LigoSearchUser ?: "<undefined>", "\n", \
	         "       Valid values are: ",userMap("ValidSearchUsers",Owner))