# FACTER_CRON setup
FACTER = $(BIN)/facter_classad
STARTD_CRON_JOBLIST = $(STARTD_CRON_JOBLIST) FACTER
STARTD_CRON_FACTER_EXECUTABLE = $(FACTER)
STARTD_CRON_FACTER_PERIOD = 300

# #!/bin/bash
# 
# # Exit if the command "facter" is not installed
# which facter > /dev/null || exit 1
# 
# # Advisertise the various "facts" about this system
# # 1. Replace "processor[0-9]+" with "processor"
# # 2. Remove consecutive identical entries
# # 3. Remove certain facts
# # 4. Prepend "facter_"
# # 5. Trim whitespace
# facter | sed 's/processor[0-9]\+/processor/g' | sed '$!N; /^\(.*\)\n\1$/!P; D' | grep -Ev '(ssh|SSHFP|path|processors|partitions|^os |system_uptime)' | sed 's/\([^ ]*\) => \(.*\)/facter_\1 = "\2"/' | sed 's/  */ /g'
# 
# # add cpuinfo flags, sorry but I was not able to do this with sed
# perl -ane 'chomp; exit 0 unless $_; @a=split /\s+:\s+/; next if $a[0] =~ /^(power management|processor)/; $a[0]=~s/\s+/_/; print "cpuinfo_$a[0] = \"$a[1]\"\n"' /proc/cpuinfo | sed 's/  */ /g'