# Ansible managed

# Jails
[sshd]
port    = ssh,2222
enabled = true
bantime = 86400
maxretry = 3

destemail = cardiff-ligo-cluster-admins@cf.onmicrosoft.com
sender = hawk_alert@supercomputingwales.ac.uk

banaction = firewallcmd-multiport
banaction_allports = firewallcmd-allports

# Ban but no email
action = %(action_)s


